* {
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
}

html{
    height: 100%;
    width: 100%;
}

p {
    padding: 0px 20px;
}
h1 {
    text-align: center;
    padding-bottom: 25px;
}

.titre {
    font-weight: bold;
}
h2 {
    text-align: center;
    padding-bottom: 15px;
}
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.logo {
    padding-top: 25px;
    border: 1px dashed;
    padding-bottom: 25px;
    border-radius: 160px;
}
.logo img {
    display: block;
    height: 100px;
    width: auto;

    margin: 0px auto;
    border-radius: 50px;
}


.explique {
    padding-top: 50px;
}

.prix {
    padding-top: 50px;
}

.participer {
    
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

a:link {
    text-decoration: none;
}
button {
    margin : 0 10px;
    font-weight: bold;
    padding: 20px;
    
}

.boutton {
    width: 100px;
    margin: 0px auto;
    justify-content: center;
}

.condition {
    font-weight: bold;
    text-align: center;
}
.conditions {
    padding: 10px;
    
}

.qcm {
    padding: 0px 20px;
}

input[type=checkbox] {
    border-radius: 5px;
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border: 1px black solid;
}

input[type=checkbox]:checked {
    background-color: black;
}

.questions p {
    padding-top: 5px;
    padding-bottom: 10px;
}
.qcm {
    padding-bottom: 10px;
}
.valider {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px ;
}

.form_contact {
    
    width: 150px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px ;
    margin-top: 10vh;
    margin-left: 10vh;

}

.p1 {
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    padding: 0 50px 0 50px;
}
.nom {
    margin-top: 15px;
    margin-bottom: 15px;
}
.prenom {
    margin-bottom: 15px;
}
.email {
    margin-bottom: 15px;
}
.tel {
    margin-bottom: 15px;
}
.remerciement {
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: bold;
    text-align: justify;
}
.redirect {
    padding-top: 100px;
    text-align: justify;
    
}
.acc {
    font-weight: bold;
}